<div class="container">
    <div class="login-card">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Login into Friendr</h1>
        <div class="subtitle">Sign in to your account</div>
        <input type="text" placeholder="Username" formControlName="username">
        <input type="password" placeholder="Password" formControlName="password"> 
        <button type="submit" class="sign-in-btn">Login</button>
        </form>
        <div class="create-account">
            Don't have an account? <a [routerLink]="'/register'">Create one</a>
        </div>
    </div>
</div>

